services:
    mysql:
        image: mysql:8.0
        container_name: mysql_laravel
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: root10
            MYSQL_DATABASE: bolao
            MYSQL_USER: laravel
            MYSQL_PASSWORD: laravel
        ports:
            - "3306:3306"
        volumes:
            - mysql_data:/var/lib/mysql

volumes:
    mysql_data:
