#classificacao {
  .table-custom {
    font-size: 16px;

    .table-head, .table-body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0;

      .td {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 10%;
        flex-grow: 0;

        &:nth-child(2) {
          flex-grow: 1;
          font-weight: bold;
          justify-content: start;
        }

        &:nth-child(3) {
          font-weight: bold;
        }
      }
    }

    .table-head {
      color: $write;
      font-weight: bold;
      background-color: $text-color;
    }

    .table-body {
      border-bottom: 1px solid #ddd;

      &.bg-colors:nth-child(-n+4) {
        color: white;
        background-color: $champions;

        &:hover {
          opacity: 0.8;
          background-color: $champions !important;
        }
      }

      &.bg-colors:nth-last-child(-n+2) {
        color: white;
        background-color: $lanterns;

        &:hover {
          opacity: 0.8;
          background-color: $lanterns !important;
        }
      }

      &:hover {
        background-color: $table-bg-hover !important;
      }
    }
  }

  .campeoes {
    font-size: 16px;
    color: $champions;
  }

  .lanternas {
    font-size: 16px;
    color: $lanterns;
  }
}