// Body
$body-bg: #ededed;
$body-text: #636b6f;
$body-text-disable: #aaaaaa;
$size-escudo: 2.2vmax;

// Typography
$font-family-sans-serif: 'Raleway', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$winner: rgba(11,130,11,.6);
$loser: rgba(150,11,11,.7);

//Box-Shadow
$box-shadow: 0 0 15px #ccc;