@import './../variables';

#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 11px;
    color: #9d9d9d;
    padding: 0 15px 15px;
    background-color: #ededed;
}