	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/07/2017 21:15
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  line-height: normal;
  font-style: normal;
}

.flaticon-ball-8:before { content: "\f100"; }
.flaticon-game-4:before { content: "\f101"; }
.flaticon-football-7:before { content: "\f102"; }
.flaticon-ball-7:before { content: "\f103"; }
.flaticon-ball-6:before { content: "\f104"; }
.flaticon-ball-5:before { content: "\f105"; }
.flaticon-soccer-4:before { content: "\f106"; }
.flaticon-soccer-ball-5:before { content: "\f107"; }
.flaticon-football-6:before { content: "\f108"; }
.flaticon-ball-4:before { content: "\f109"; }
.flaticon-soccer-ball-4:before { content: "\f10a"; }
.flaticon-soccer-ball-3:before { content: "\f10b"; }
.flaticon-football-badge:before { content: "\f10c"; }
.flaticon-soccer-football-ball:before { content: "\f10d"; }
.flaticon-soccer-ball-2:before { content: "\f10e"; }
.flaticon-antique-soccer-ball:before { content: "\f10f"; }
.flaticon-footbal-pin:before { content: "\f110"; }
.flaticon-soccer-ball-1:before { content: "\f111"; }
.flaticon-flaming-football:before { content: "\f112"; }
.flaticon-ball-3:before { content: "\f113"; }
.flaticon-football-5:before { content: "\f114"; }
.flaticon-soccer-ball-variant:before { content: "\f115"; }
.flaticon-soccer-ball:before { content: "\f116"; }
.flaticon-person-kicking-ball-with-the-knee:before { content: "\f117"; }
.flaticon-football-player-with-the-ball-under-the-feet:before { content: "\f118"; }
.flaticon-football-player-using-head-to-hit-ball:before { content: "\f119"; }
.flaticon-football-player-kicking-ball-upward:before { content: "\f11a"; }
.flaticon-football-player-landing-on-field-missing-the-ball:before { content: "\f11b"; }
.flaticon-soccer-player-with-ball:before { content: "\f11c"; }
.flaticon-football-player:before { content: "\f11d"; }
.flaticon-football-player-setting-ball:before { content: "\f11e"; }
.flaticon-football-player-attempting-to-kick-ball:before { content: "\f11f"; }
.flaticon-football-player-running-behind-the-ball:before { content: "\f120"; }
.flaticon-pele:before { content: "\f121"; }
.flaticon-cristiano-ronaldo:before { content: "\f122"; }
.flaticon-lionel-messi:before { content: "\f123"; }
.flaticon-football-players-on-field:before { content: "\f124"; }
.flaticon-soccer-field-seen-from-above:before { content: "\f125"; }
.flaticon-football-court-top-view:before { content: "\f126"; }
.flaticon-football-field-in-perspective:before { content: "\f127"; }
.flaticon-stadium:before { content: "\f128"; }
.flaticon-sports-2:before { content: "\f129"; }
.flaticon-sports-1:before { content: "\f12a"; }
.flaticon-sport-6:before { content: "\f12b"; }
.flaticon-player-2:before { content: "\f12c"; }
.flaticon-football-4:before { content: "\f12d"; }
.flaticon-game-3:before { content: "\f12e"; }
.flaticon-ball-2:before { content: "\f12f"; }
.flaticon-sport-5:before { content: "\f130"; }
.flaticon-sport-4:before { content: "\f131"; }
.flaticon-football-referee-with-hand-gestures:before { content: "\f132"; }
.flaticon-stop-ball:before { content: "\f133"; }
.flaticon-football-field:before { content: "\f134"; }
.flaticon-soccer-2:before { content: "\f135"; }
.flaticon-soccer-1:before { content: "\f136"; }
.flaticon-football-3:before { content: "\f137"; }
.flaticon-football-game:before { content: "\f138"; }
.flaticon-football-2:before { content: "\f139"; }
.flaticon-football-1:before { content: "\f13a"; }
.flaticon-stripes:before { content: "\f13b"; }
.flaticon-people:before { content: "\f13c"; }
.flaticon-man-3:before { content: "\f13d"; }
.flaticon-man-2:before { content: "\f13e"; }
.flaticon-man-1:before { content: "\f13f"; }
.flaticon-sport-3:before { content: "\f140"; }
.flaticon-symbol-3:before { content: "\f141"; }
.flaticon-game-2:before { content: "\f142"; }
.flaticon-sports:before { content: "\f143"; }
.flaticon-tool-3:before { content: "\f144"; }
.flaticon-ball-1:before { content: "\f145"; }
.flaticon-dark:before { content: "\f146"; }
.flaticon-symbol-2:before { content: "\f147"; }
.flaticon-cup-1:before { content: "\f148"; }
.flaticon-game-1:before { content: "\f149"; }
.flaticon-tool-2:before { content: "\f14a"; }
.flaticon-sport-2:before { content: "\f14b"; }
.flaticon-player-1:before { content: "\f14c"; }
.flaticon-program-1:before { content: "\f14d"; }
.flaticon-point:before { content: "\f14e"; }
.flaticon-man:before { content: "\f14f"; }
.flaticon-symbol-1:before { content: "\f150"; }
.flaticon-program:before { content: "\f151"; }
.flaticon-tool-1:before { content: "\f152"; }
.flaticon-two:before { content: "\f153"; }
.flaticon-sport-1:before { content: "\f154"; }
.flaticon-player:before { content: "\f155"; }
.flaticon-symbol:before { content: "\f156"; }
.flaticon-game:before { content: "\f157"; }
.flaticon-construction:before { content: "\f158"; }
.flaticon-cup:before { content: "\f159"; }
.flaticon-shield:before { content: "\f15a"; }
.flaticon-sport:before { content: "\f15b"; }
.flaticon-person:before { content: "\f15c"; }
.flaticon-ball:before { content: "\f15d"; }
.flaticon-tool:before { content: "\f15e"; }