
// Body
$body-bg: #ededed;

//Colors
$write: #fff;
$black: #000;
$yellow: #ffffcc;
$navBarColor: #222;
$champions: rgba(11, 130, 11, 0.6);
$lanterns: rgba(150, 11, 11, 0.7);
$bg-exato: #dff0d8;
$bg-vencedor: #fcf8e3;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: $write;

// Buttons
$btn-primary-bg: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Table
$table-bg-hover: #e1e9ec;

// Midia Queries
$bp-width-small : "(min-width: 365px) and (max-width: 400px)";
$bp-width-xsmall : "(max-width: 365px)";