
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//icons
@import "flaticon";
//Admin
@import "admin";

.navbar-brand {
  color: $write!important;
}

html, body.bolao {

  #app {

    .navbar-inverse .navbar-nav > li > a {
      border-right: 1px solid $navBarColor;
      border-left: 1px solid $navBarColor;
    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > li > a:hover {
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
    }

    .box{
      background: $write;
      margin-bottom: 15px;
      padding: 15px;
      box-shadow: 0 0 15px #ccc;
    }

    .container .row .panel{
      margin-bottom: 5px;
    }

    .container .text-muted {
      margin: 20px 0;
    }

    .table-head {
      background-color: $text-color;
      color: $write;
    }

    .table-body {
      border-bottom: 1px solid #ddd;

      &.bg-yellow {
        background-color: $yellow;
      }

      &:hover, &.bg-yellow:hover {
        background-color: $table-bg-hover;
      }
    }

    .placar-palpite {
      margin: {
        top: 0;
        right: 10px;
        bottom: 0;
        left: 10px;
      }
      font-size: 1.5em;
    }

    .table-td {
      padding: 10px;
      text-align: center;
    }

    .td-mandante,
    .td-visitante,
    .td-icons {
      margin: {
        top: 5px;
        bottom: 5px;
      };
    }

    .td-mandante {
      text-align: right;
    }

    .td-visitante {
      text-align: left;

    }

    .td-divisor {
      padding: {
        left: 0;
        right: 0;
      };
    }

    .title-show {
      text-align: center;
      font-size: 1.7em;
      font-weight: 500;
    }

    .icon-page {
      font-size: 6em;
      line-height: 0;
      color: $text-color;
    }

    .input-placar {
      width: 30px;
      border: 1px solid #ccc;
    }

    .footer {
      position: relative;
      background-color: $body-bg;
      padding: 0 15px 15px;
      color: #9d9d9d;
      width: 100%;
      bottom: 0;
      left: 0;

      span{
        font-size: 11px;

        a {
          color: $text-color;
          text-decoration: none;
        }
      }
    }

    .glyphicon.glyphicon-remove {
      color: #d9534f;
    }

    .glyphicon.glyphicon-ok {
      color: #398439;
    }

    .dropdown-rodada-ol{
      min-width: 203px;
      height: 150px;
      overflow-y: auto;
    }

    .dropdown-rodada-li{
      display: inline-table;
      border: 1px solid #cccecf;
      width: 30%;
      margin: {
        top: 0;
        bottom: 5px;
        right: 1.7%;
        left: 1.7%;
      };
      padding: 0;
      font-size: 14px;
      border-radius: 2px;
    }

    .dropdown-rodada-a {
      padding: 5px !important;
      text-align: center;
      cursor: pointer
    }

    .glyphicon-refresh {
      animation: spinIt 1.5s infinite linear;
    }

    @keyframes spinIt {
      0%   { transform: rotate(0deg); }
      100% { transform: rotate(359deg); }
    }

    @media (max-width: 767px) {
      .btn-group.xs-12 {
        width: 100%;
        margin-bottom: 15px;
      }

      .btn-group.btn-rodada {
        width: 100%;

        > .btn-default {
          width: 15%;
        }

        > .btn-group {
          width: 70%;

          > .btn-default {
            width: 100%;
          }
        }
      }
    }
  }
}